<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>블립</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<!-- 첫 번째 화면 -->
<div class="container">
    <header>
        <div class="logo">blip</div>
        <nav>
            <a href="#">Artists</a>
            <a href="#">Schedule</a>
            <a href="#">Event</a>
        </nav>
        <div class="kpop-radar">kpop radar</div>
    </header>
    <div class="breadcrumb">blip > Artists</div>
    <main>
        <h1>98팀의 아티스트를<br>블립에서 만나볼 수 있어요</h1>
        <p>지금 관심 있는 아티스트를 선택하고<br>스케줄, 실시간 차트, M/V 조회수, 인기 콘텐츠를 확인해보세요</p>
        <div class="artists">
            <div class="artist">
                <img src="image1.jpg" alt="갓세븐">
                <div>갓세븐<br>GOT7</div>
            </div>
            <div class="artist">
                <img src="image2.jpg" alt="강다니엘">
                <div>강다니엘<br>KANG DANIEL</div>
            </div>
            <div class="artist">
                <img src="image3.jpg" alt="골든차일드">
                <div>골든차일드<br>GOLDEN CHILD</div>
            </div>
            <div class="artist">
                <img src="image4.jpg" alt="김세정">
                <div>김세정<br>KIM SEJEONG</div>
            </div>
        </div>
    </main>
</div>