body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f8f8;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.search input[type="text"] {
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.filter-container {
    background-color: #fff;
    padding: 20px 0;
    margin-top: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filters,
.location-filters {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.filters button,
.location-filters button {
    border: none;
    background-color: #f5f5f5;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 20px;
    cursor: pointer;
}

.filters button:hover,
.location-filters button:hover {
    background-color: #ddd;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.recommendations h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-left: 10px; /* 로고와 텍스트 간격 조정 */
    border-radius: 50%;
    object-fit: cover;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin-bottom: 20px;
    text-align: center;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: auto;
}

.card h3 {
    font-size: 18px;
    margin: 15px 0 5px 0;
}

.card p {
    color: #666;
    font-size: 14px;
    margin-bottom: 15px;
}