//
//  Config.xcconfig
//  StarBridge
//
//  Created by 김동현 on 8/17/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

KAKAO_NATIVE_APP_KEY = 3819b73b51fd45abda0305cd63a36ef8

API_MAIN_URL = http:/$()/13.125.169.165:8000/api_main 
