<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBvqG4HNIhfMF_3rUmW7gHfn7ddIjWa1GY</string>
	<key>GCM_SENDER_ID</key>
	<string>545301215931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>starbridge0.opfic</string>
	<key>PROJECT_ID</key>
	<string>starbridgebeta</string>
	<key>STORAGE_BUCKET</key>
	<string>starbridgebeta.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:545301215931:ios:76bad0ff867512ad41879e</string>
</dict>
</plist>