<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBWVt4RNi9nhTHfEPZshaDARYtgnmSNijY</string>
	<key>GCM_SENDER_ID</key>
	<string>195069105261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.indextrown.Social-Login-SwiftUI</string>
	<key>PROJECT_ID</key>
	<string>socialloginswiftui</string>
	<key>STORAGE_BUCKET</key>
	<string>socialloginswiftui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195069105261:ios:5f09e9b89925d5918d5b64</string>
</dict>
</plist>